*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-size: 14px;
}
  
.Header{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: fit-content;
  background: linear-gradient(#487eb0,#0097e6,#00a8ff);
  color: #dfe6e9;
  padding: 1em;
  margin: 0;
}
 .title{
   margin-left: 1em;
   
 } 
 .author{
  margin-left: auto;
 }

 .form{
   display: grid;
   grid-template: 2em 2em / 1fr 1fr;
    /* Prevent inheritance from parent in this case is body tag all: initial; */
   gap: 1em;
   padding: 1em;
 }
 .form-button{
   grid-column: 1 / -1;
   font-family: "Karla", sans-serif;
   background-color:#0097e6;
   color:white;
   cursor: pointer;
 }
 .form-input{
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #0097e6;
  text-indent: 1em; /* tạo khoảng cách giữ placeholder với chỗ gõ input */

 }
 .meme {
  position: relative;
}
 .memeImg{
   width: fit-content;
   max-width: 80%;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 .meme--text{
   position: absolute;
   width: 100;
   left:50%;
   transform: translateX(-50%);
   margin: 15px 0;
   padding: 0 5px;
   font-family: impact, sans-serif;
   font-size: 2em;
   text-transform: uppercase;
   color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;

   
 }
 .bottom {
  bottom: 0;
}

.top {
  top: 0;
}
  

  





