*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  padding: 0;
  width: 100%;
  height: auto;
  font-size: 14px;
}
  
.Header{
  display: flex;
  align-items: center;
  height: fit-content;
  background: linear-gradient(#487eb0,#0097e6,#00a8ff);
  color: #dfe6e9;
  padding: 1em;
  margin: o;
}
 .title{
   margin-left: 1em;
 } 
 .author{
   margin-left: auto;
  }
  

  





